.App {
  /* text-align: center; */
  width: 100%;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  padding-top: 10px;
  padding-bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #5f00a8;
  justify-content: center;
  align-items: center;
  color: white;
  /* font-size: calc(10px + 0.1vmin); */
  display: flex;
  flex-direction: column;
  min-height: 0.1vh;
  padding: none;
  /* #282c34; */
  /* 
  
  
   */
}

#header-title {
  padding: none;
}

.App-link {
  color: #61dafb;
  padding: 0;
}

/*Body */

table {
  /* border: solid black; */
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr {
  outline: thin solid;
}

th,
td {
  /* border: solid black; */
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #e6e6fa;
}

table tr:hover {
  background-color: #dcd0ff;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #dcd0ff;
  /* color: white; */
}

.add-contact {
  width: 50%;
  height: 100px;
  float: left;
  padding-left: 80px;
  padding-top: none;
}

.contact {
  margin-left: 50%;
  height: 100px;
  padding: 10px;
  padding-top: none;
  padding-right: 80px;
}
.contact h1 {
  text-align: justify;
}
.contact-list {
  height: 100px;
  float: inline-start;
  padding-top: 400px;
  margin: auto;
}

.contact-list h1 {
  text-align: center;
}

#del-btn {
  float: right;
  background-color: #8a2be2;
  color: white;
}

.card {
  /* border: solid black; */
  padding: 10px;
}

#name {
  color: #9370db;
}
