.App {
  /* text-align: center; */
  width: 100%;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  padding-top: 10px;
  padding-bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #5f00a8;
  justify-content: center;
  align-items: center;
  color: white;
  /* font-size: calc(10px + 0.1vmin); */
  display: flex;
  flex-direction: column;
  min-height: 0.1vh;
  padding: none;
  /* #282c34; */
  /* 
  
  
   */
}

#header-title {
  padding: none;
}

.App-link {
  color: #61dafb;
  padding: 0;
}

/*Body */

/*Search bar */
.search-bar {
  /* 
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  max-width: 40rem; */
  /* padding: 0.1rem; */
  text-align: center;
  margin: 2rem auto;
  border-radius: 6px;
}

#search {
  margin: auto;
  width: 50%;
  border: 2px solid #5f00a8;
  padding: 10px;
  border-radius: 4px;
}

#tog-btn {
  background-color: #9370db /* #dcd0ff */ /* #f1f1f1 */ /* #5f00a8 */
    /* #8a2be2 */ /* #e7e7e7 */;
  color: white /* #5f00a8 */ /* black */ /* whitesmoke */ /* #5f00a8 */;
  margin: auto;
  /* padding-top: 0px; */
  border-radius: 4px;
  border: none /* 1.8px solid #5f00a8 */;
  font-size: 16px;
  padding: 2px 10px;
  cursor: pointer;
}

#tog-btn:hover {
  background-color: /* black */ #5f00a8;
  color: white;
  /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19); */
}

.contacts {
  /* margin: 2rem auto;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  max-width: 30rem; */
  text-align: center;
  padding-top: 0px;
  margin: auto;
}

.contacts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* line-height: 100%; */
}

.contact-search {
  margin: 1rem 0;
  /* font-weight: bold; */
}

#add-btn {
  background-color: #69359c;
  color: white;
}

table {
  /* border: solid black; */
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

th,
td {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}

/* th, */
td {
  /* border: solid black; */
  /* border: 1px solid #ddd; */
  padding: 6px;
}

table tr:nth-child(even) {
  background-color: #dcd0ff;
}

table tr:hover {
  background-color: #dcd0ff;
}

th {
  padding: none;
  padding-bottom: 1px;
  text-align: center;
  background-color: #5f00a8;
  color: white;
}

/* Add contact*/

.add-contact {
  width: 50%;
  height: 100px;
  float: left;
  padding-left: 80px;
  padding-top: none;
}

.contact {
  margin-left: 50%;
  height: 100px;
  padding: 10px;
  padding-top: none;
  padding-right: 80px;
}
.contact h1 {
  text-align: justify;
}

/*ContactDetails*/
.contact-list {
  height: 100px;
  float: inline-start;
  padding-top: 60px;
  margin: auto;
  /* overflow-x: auto; */
}

.contact-list h1 {
  text-align: center;
}

#contact-list-header {
  padding-bottom: 1px;
  padding-top: 1px;
}

#del-btn {
  float: right;
  background-color: #5c00a3;
  color: white;
}

.card {
  /* border: solid black; */
  padding: 10px;
  margin-bottom: 15px;
}

#name {
  color: #5f00a8;
}

/*Card Icon*/
#card-icon-con {
  /* height: 100px; */
  float: inline-start;
  padding-top: 280px;
  margin: auto;
  overflow-x: auto;
}

#card-icon-con-title {
  text-align: center;
}

.container {
  padding-top: 30px;
}
